<!--
  Generated template for the VenderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vender Articulo</ion-title>

    <ion-buttons end>
        <button ion-button (click)="goHome()">
          <ion-icon ios="ios-home" md="md-home"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
      <button ion-button (click)="goToCart()">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="logOut()">
        <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
 
</ion-header>


<ion-content padding class="vender">

    <ion-item>
      <div class="img" (click)="onSelectPhoto()">
        <img-loader [src]="rutaImagen.ruta" fallback="http://res.cloudinary.com/digitalmarket/image/upload/v1528924814/sin_imagen.png" useImg></img-loader>
      </div>
    </ion-item>

  <p *ngIf="submitAttempt" style="color: #ea6153;">Por favor llene todos los campos.</p>
  <form [formGroup]="form">
    <ion-list>
        <ion-input formControlName="imagen" type="hidden" [(ngModel)]="rutaImagen.ruta"></ion-input>
      <ion-item>
        <ion-label stacked>Titulo:</ion-label>
        <ion-input formControlName="titulo" type="text" placeholder="Titulo" [class.invalid]="!form.controls.titulo.valid && (form.controls.titulo.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Descripcion:</ion-label>
        <ion-textarea formControlName="descripcion" type="text" placeholder="Descripcion" [class.invalid]="!form.controls.descripcion.valid && (form.controls.descripcion.dirty || submitAttempt)"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Precio:</ion-label>
        <ion-input formControlName="precio" type="text" placeholder="Precio" [class.invalid]="!form.controls.precio.valid && (form.controls.precio.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.precio.valid && (form.controls.precio.dirty || submitAttempt)">
        <p>Solo numeros son permitidos.</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Categoria</ion-label>
        <ion-select interface="popover" formControlName="categoria" placeholder="Categoria" [class.invalid]="!form.controls.categoria.valid && (form.controls.categoria.dirty || submitAttempt)">
            <ion-option *ngFor="let cat of categorias" value="{{cat.id}}">{{cat.nombre}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Cantidad</ion-label>
        <ion-select interface="popover" formControlName="cantidad" placeholder="Cantidad" [class.invalid]="!form.controls.cantidad.valid && (form.controls.cantidad.dirty || submitAttempt)">
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
        </ion-select>
      </ion-item>
    
      <button ion-button block type="submit" (click)="saveData()">Publicar</button>
    </ion-list>
  </form>

</ion-content>
