
.vender {
	
	ion-scroll {
    white-space: nowrap;
    height: 150px;
	}

	ion-scroll img {
		height: 140px;
		width: inherit;
		margin: 10px; 
		display: inline-block;
	}
    
    ion-avatar {
		color: blue;
	}

	.form {
		margin-left: 0px;
		margin-right: 2%;
	}

	ion-item img {
		height: inherit;
		width: inherit;
		display: inline-block;
		margin-left: 0%;
		margin-right: 2%;
		position: relative;
	}
	
	.invalid {
		border: 1px solid #ea6153;
	}
}
