

<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Articulo</ion-title>

    <ion-buttons end>
        <button ion-button (click)="goHome()">
          <ion-icon ios="ios-home" md="md-home"></ion-icon>
        </button>
      </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="search()">
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="usuario != null">
      <button ion-button (click)="goToCart()">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="detalle-articulo">
<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img-loader [src]="articulo.usuario.foto" fallback="http://res.cloudinary.com/digitalmarket/image/upload/v1528924814/sin_imagen.png" useImg></img-loader>
    </ion-avatar>
    <h2>{{articulo.usuario.nombre}} {{articulo.usuario.apellido}}</h2>
    <p>{{articulo.fecha}}</p>
  </ion-item>

  <ion-card-title>
      <p class="titulo-articulo">{{articulo.titulo}}</p>
  </ion-card-title>
  <img-loader [src]="articulo.foto" fallback="http://res.cloudinary.com/digitalmarket/image/upload/v1528924814/sin_imagen.png" useImg></img-loader>

  <ion-card-content>
    <div class="barra">
      <p class="titulo-barra">Descripcion</p>
    </div>
    <div>
      <p>{{articulo.descripcion}}</p>
    </div>
    <div class="barra">
      <p class="titulo-barra">Precio</p>
    </div>
    <div>
        <h2 style="text-align: center;">{{articulo.articulo.precio}} BsF.</h2>
    </div>
    <div>
        <button ion-button color="primary" style="display: flex; justify-content: center;" *ngIf="usuario != null"><ion-icon name="cart"></ion-icon> Agregar al Carrito</button>
    </div>
    </ion-card-content>
  <ion-row>

    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div><label id="like">{{art.likes.length}}</label> Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{articulo.comentarios}} Comments</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>

</ion-content>

