page-list {
    .card-md{
        width:95% !important;
        height: 85% !important;
        margin-left: 10px;
        margin-top: 10px;
      }

    .imagen{
        width: 25px;
        height: 25px;
    }

    .fila{
        background: rgb(207, 207, 207);
        height: 1px;
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }
}
