<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>

    <ion-buttons end>
        <button ion-button (click)="goHome()">
          <ion-icon ios="ios-home" md="md-home"></ion-icon>
        </button>
      </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="search()">
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="usuario != null">
      <button ion-button (click)="goToCart()">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="usuario != null">
      <button ion-button (click)="logOut()">
        <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="home">

  <ion-list class="card-md">
      <ion-row *ngFor="let cat of categorias;" (click)="openCategoria(cat.id)">
        <ion-item>
          <ion-avatar item-start>
              <cl-image public-id="http://res.cloudinary.com/digitalmarket/image/upload/v1528764577/sample.jpg"></cl-image>
            <!--<img src="{{cat.imagen}}">-->
          </ion-avatar>
          <h1>{{cat.nombre}}</h1>
        </ion-item>
        <div class="fila"></div>
      </ion-row>
  </ion-list>

</ion-content>
