page-timeline {

    .barra{
        background: #CDCDCD;
		padding-top: 0px;
        padding-left: 0px;
        height: 24px;
    }

    .titulo-barra{
        font-size: 14px;
        text-align: center;
        text-indent: 0cm;
        font-weight: bolder;
    }

    .titulo-articulo{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

}
