<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
        <img src="assets/imgs/logo.png">
  </ion-header>

  <ion-content>
    <ion-list>
      <div class="barra">
        <h5>Opciones</h5>
      </div>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon item-left [name]="p.icon"></ion-icon>
            {{ p.title}}
      </button>
    <div *ngIf="usuarioActivo != null">
      <div class="barra">
        <h5>Usuario</h5>
      </div>
      <button ion-item menuClose *ngFor="let u of usuario" (click)="openPage(u)">
          <ion-icon item-left [name]="u.icon"></ion-icon>
          {{ u.title}}
    </button>.
  </div>
  <div *ngIf="usuarioActivo != null && usuarioActivo.rolId == 1">
    <div class="barra">
      <h5>Administrador</h5>
    </div>
    <button ion-item menuClose *ngFor="let a of admin" (click)="openPage(a)">
          <ion-icon item-left [name]="a.icon"></ion-icon>
          {{ a.title}}
    </button>
  </div>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>